# Konfigurasi Redis
REDIS_ADDR=redis:6379

# Target Push Notification Mock Server
# - Di lokal via Docker: gunakan http://host.docker.internal:8081
# - Di lokal via host (go run): gunakan http://localhost:8081
# - Di VPS AWS/GCP: gunakan IP privat Mesin 1, contoh: http://10.0.1.10:8081
MOCK_SERVER_URL=http://host.docker.internal:8081

# Worker Concurrency
CONSUMER_CONCURRENCY=10
